<div class="show show-comics">
  <div class="container mt-4">
    <div class="top my-4">
      <div class="favorite-form">
        <% if @favorite.empty? %>
          <%= form_for(@favorite_new, remote: true) do |f| %>
          <%= hidden_field_tag "name", @comic['title'] %>
          <%= hidden_field_tag "number", @comic['id'] %>
          <%= hidden_field_tag "url", @comic["thumbnail"]["path"] %>
          <%= hidden_field_tag "character", false %>
          <%= f.submit %>
        <% end %>
        <% else %>
          <%= link_to "Unfollow",
          favorite_path(@favorite[0]),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
      <h2 class="text-center mx-5"><%= @comic['title']%></h2>
    </div>
    <div class="char-info d-flex flex-fill">
      <div class="photo mx-auto">
        <img class="avatar-bio" src="<%= @comic["thumbnail"]["path"] %>.jpg" alt="">
      </div>
      <div class="bio d-flex px-5">
        <div class="card text-white align-self-center px-4 py-3 rounded">
          <h5 class="card-title">Book's info:</h5>
          <p class="card-text text-center">
            <ul>
              <li>Series: <%= @comic["series"]["name"]%></li>
              <li>Sale: <%= DateTime.parse(@comic["dates"][0]["date"]).strftime("%d/%m/%Y") %></li>
              <li>Price: US$<%= @comic["prices"][0]["price"]%></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <hr>
    <div class="comic-books my-4">
      <h3 class="text-white text-center">Characters</h3>
      <div class="comic d-flex flex-wrap justify-content-around py-4">
        <% @comic["characters"]["items"].each do |char| %>
        <a href="<%= character_path(char['resourceURI'].split('/')[-1]) %>" class="d-flex flex-column px-3">
          <p><%= char["name"] %></p>
        </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
