<div class="show show-character" >
  <div class="container mt-4 ">
    <div class="top my-4 d-flex" data-controller="favorite">
      <h1 class="text-center text-white flex-grow-1"><%= @character['name']%></h1>
      <%= render partial: "shared/favorite", locals: { name: @character['name'], char: true, model: @character } %>
    </div>

    <div class="char-info d-flex flex-fill">
      <div class="photo mx-auto">
        <img class="avatar-bio" src="<%= @character["thumbnail"]["path"] %>.jpg" alt="">
      </div>
      <% unless @character["description"].empty? %>
        <div class="bio d-flex px-5">
          <div class="card text-white align-self-center px-4 py-3 rounded">
            <p class="card-text text-center">
              <%= @character["description"] %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <hr>
    <div class="comic-books my-4 pb-4">
      <h3 class="text-white text-center">Comic books</h3>
      <ul class="mr-5 mb-5">
        <% @character['comics']['items'].each do |book| %>
        <li>
          <%= link_to book['name'], comic_path(book['resourceURI'].split('/')[-1]) %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
