<div class="show show-character" >
  <div class="container mt-4 ">
    <div class="top my-4 d-flex" data-controller="favorite">
      <h1 class="text-center text-white flex-grow-1"><%= @character['name']%></h1>

      <div class="favorite-form mr-5">
        <div class="not-favorited" data-favorite-target="notFav" <%= "hidden" if !@favorite.empty? %>>
          <%= form_for(@favorite_new, remote: true) do |f| %>
          <%= hidden_field_tag "name", @character['name'] %>
          <%= hidden_field_tag "number", @character['id'] %>
          <%= hidden_field_tag "url", @character["thumbnail"]["path"] %>
          <%= hidden_field_tag "character", true %>
          <%= button_tag type: 'submit', class: "my-button border-0", id: "register-button", "data-action" => 'click->favorite#refresh' do %>
            <i class="far fa-heart fa-2x heart-red"></i>
          <% end %>
          <% end %>
        </div>
        <div class="favorited" <%= "hidden" if @favorite.empty? %> data-favorite-target="faved">
          <%= link_to favorite_path(@character["id"]),
          method: :delete,
          data: { confirm: "Are you sure?" },
          "data-action" => 'click->favorite#refresh' do %>
          <i class="fas fa-heart fa-2x heart-red"></i>
          <% end %>
        </div>

      </div>

    </div>
    <div class="char-info d-flex flex-fill">
      <div class="photo mx-auto">
        <img class="avatar-bio" src="<%= @character["thumbnail"]["path"] %>.jpg" alt="">
      </div>
      <% unless @character["description"].empty? %>
        <div class="bio d-flex px-5">
          <div class="card text-white align-self-center px-4 py-3 rounded">
            <p class="card-text text-center">
              <%= @character["description"] %>
            </p>
          </div>
        </div>
      <% end %>

    </div>
    <hr>
    <div class="comic-books mt-4">
      <h3 class="text-white text-center">Comic books</h3>
      <ul class="mr-5 mb-5">
        <% @character['comics']['items'].each do |book| %>
        <li>
          <%= link_to book['name'], comic_path(book['resourceURI'].split('/')[-1]) %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
